

/********** LOGIN STYLES ***********/

body.login {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background: no-repeat center center;
  overflow: hidden;

  .login-sidebar {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    padding: 0;
    justify-content: center;
    background: #ffffff;
    border-top: 5px solid #22A7F0;
    border-radius: 0px;
  }

  .login-sidebar:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.8;
    z-index: 3;
  }

  .login-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 30px;
    top: 50%;
    margin-top: -150px;
  }

  .login-container p {
    text-align: left;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 3px;
    color: #757C85;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
    width: auto;
    padding-left: 2px;
  }

  .login-container form {
    padding-top: 15px;
  }

  .login-container .voyager-refresh {
    top: 0px;
    font-size: 10px;
  }

  .login-container .signingin .voyager-refresh {
    top: 1px;
    left: 0px;
    -webkit-transform-origin: 43% 40%;
    transform-origin: 43% 40%;
    -ms-transform-origin: 43% 40%;
    display: inline-block;
    position: relative;
  }

  .logo-title-container {
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-top: -100px;
    left: 30px;
  }

  .logo-container {
    text-align: center;
    position: relative;
    z-index: 10;
    opacity: 0.8;
  }

  .logo {
    height: auto;
    max-width: 52px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 20px;
  }

  .logo-container .logo {
    padding: 50px 0px;
  }

  @-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .span-input {
    margin-left: 10px;
    position: relative;
    top: -3px;
    font-size: 15px;
  }
  .login-button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    padding: 12px 20px;
    border-radius: 1px;
    outline: none !important;
    opacity: 1;
    border: 0px;
    width: auto;
    border-radius: 2px;
    float: left;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    transition: width 0.3s ease;
  }
  .login-button:hover, .login-button:focus {
    color: #FFF;
    opacity: 1
  }
  .copy {
    width: auto;
    padding: 30px;
    padding-bottom: 12px;
  }

  .copy h1 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    z-index: 9999;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    top: 0px;
    line-height: 45px;
    margin: 20px 0 0 20px;
    margin-left: 14px;
  }

  .copy p {
    color: #fff;
    font-size: 13px;
    max-width: 650px;
    opacity: .9;
    position: relative;
    z-index: 99;
    font-weight: 300;
    margin-top: 0;
    left: 15px;
    position: relative;
    top: -8px;
  }
  .faded-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15151c+75,15151c+100&0+0,0.1+40,0.3+55,1+100 */
    background: -moz-linear-gradient(top, rgba(21, 21, 28, 0) 0%, rgba(21, 21, 28, 0.1) 40%, rgba(21, 21, 28, 0.3) 55%, rgba(21, 21, 28, 0.61) 75%, rgba(21, 21, 28, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(21, 21, 28, 0) 0%, rgba(21, 21, 28, 0.1) 40%, rgba(21, 21, 28, 0.3) 55%, rgba(21, 21, 28, 0.61) 75%, rgba(21, 21, 28, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(21, 21, 28, 0) 0%, rgba(21, 21, 28, 0.1) 40%, rgba(21, 21, 28, 0.3) 55%, rgba(21, 21, 28, 0.61) 75%, rgba(21, 21, 28, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0015151c', endColorstr='#15151c', GradientType=0); /* IE6-9 */
  }
  .voyager-refresh {
    -webkit-animation: spin 0.6s infinite linear;
    -moz-animation: spin 0.6s infinite linear;
    animation: spin 0.6s infinite linear;
  }
  .alert-black {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    margin-top: 20px;
  }

  .alert-red {
    background: #e74c3c;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    margin-top: 20px;
  }

  .form-group-default {
    background-color: #fff;
    position: relative;
    border: 2px solid rgba(28, 43, 54, .07);
    border-radius: 3px;
    padding: 7px 12px 4px;
    overflow: hidden;
    transition: border 0.3s ease-in;
    font-weight: normal;
  }

  .form-group-default label {
    margin: 0;
    display: block;
    opacity: 1;
    transition: opacity .2s ease;
    font-weight: 500;
    font-size: 10px;
    color: #58666e;
    margin-bottom: 3px;
  }

  .form-group-default .form-control {
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: 0 0;
  }

  .form-control {
    background: #fff;
    -webkit-appearance: none;
    color: #1c2b36;
    outline: 0;
    border: 0;
    height: 35px;
    line-height: normal;
    vertical-align: middle;
    min-height: 35px;
    box-shadow: none;
    font-weight: normal;
  }

  .form-control::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
  }
  .form-control::-moz-placeholder {
    color: #ccc;
    font-weight: 300;
  }
  .form-control:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
  }
  .form-control:-moz-placeholder {
    color: #ccc;
    font-weight: 300;
  }

  .form-control-grey:focus, .form-control:focus {
    outline: 0 !important;
    box-shadow: none;
  }

  .form-control:focus::-webkit-input-placeholder {
    color: #8c9bA6;
  }

  .form-control:focus::-moz-placeholder {
    color: #8c9bA6;
  }

  .form-control:focus:-ms-input-placeholder {
    color: #8c9bA6;
  }

  .form-control:focus:-moz-placeholder {
    color: #8c9bA6;
  }
}

/*********** END LOGIN CSS ***********/

/************************** MDB *********************/

label {
  font-weight: bold !important;
}
.toggle-on, .toggle-off {
  font-size: 11px !important;
}

.card-heading {
  padding : 1.25rem;
}


.dataTables_wrapper > .row {
  width : 100% !important;
}

.scrollbar {
  /*margin-left: 30px;*/
  float: left;
  height: 300px;
  width: 100%;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.force-overflow {
  min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

.scrollbar-juicy-peach::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-juicy-peach::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-juicy-peach::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
  background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); }

.scrollbar-young-passion::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-young-passion::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-young-passion::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a), color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
  background-image: -webkit-linear-gradient(left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); }

.scrollbar-lady-lips::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-lady-lips::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-lady-lips::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); }

.scrollbar-sunny-morning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-sunny-morning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-sunny-morning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }

.scrollbar-rainy-ashville::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-rainy-ashville::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-rainy-ashville::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a6c1ee 100%);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); }

.scrollbar-frozen-dreams::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-frozen-dreams::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-frozen-dreams::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fdcbf1), color-stop(1%, #fdcbf1), to(#e6dee9));
  background-image: -webkit-linear-gradient(bottom, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); }

.scrollbar-warm-flame::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warm-flame::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warm-flame::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); }

.scrollbar-night-fade::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-night-fade::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-night-fade::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); }

.scrollbar-spring-warmth::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-spring-warmth::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-spring-warmth::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fad0c4), to(#ffd1ff));
  background-image: -webkit-linear-gradient(bottom, #fad0c4 0%, #ffd1ff 100%);
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); }

.scrollbar-winter-neva::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-winter-neva::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-winter-neva::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.scrollbar-tempting-azure::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-tempting-azure::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-tempting-azure::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }

.scrollbar-heavy-rain::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-heavy-rain::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-heavy-rain::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: -webkit-linear-gradient(bottom, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); }

.scrollbar-amy-crisp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-amy-crisp::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-amy-crisp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #a6c0fe 0%, #f68084 100%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); }

.scrollbar-mean-fruit::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-mean-fruit::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-mean-fruit::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #fccb90 0%, #d57eeb 100%);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); }

.scrollbar-deep-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-deep-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); }

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.scrollbar-cloudy-knoxville::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cloudy-knoxville::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-cloudy-knoxville::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-morpheus-den::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); }

.scrollbar-rare-wind::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-rare-wind::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }

.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }

.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant,
.form-dark {
  position: relative;
  height: 604px;
  overflow-y: scroll;
}

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #82B1FF; }

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

.switch.primary-switch label input[type=checkbox]:checked + .lever {
  background-color: #689DF6;
}
.switch.primary-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #4285F4;
}
.switch.default-switch label input[type=checkbox]:checked + .lever {
  background-color: #4DCCBF;
}
.switch.default-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #2BBBAD;
}
.switch.secondary-switch label input[type=checkbox]:checked + .lever {
  background-color: #C791E2;
}
.switch.secondary-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #a6c;
}
.switch.success-switch label input[type=checkbox]:checked + .lever {
  background-color: #2ACC6C;
}
.switch.success-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #00C851;
}
.switch.info-switch label input[type=checkbox]:checked + .lever {
  background-color: #59C3EB;
}
.switch.info-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #33b5e5;
}
.switch.warning-switch label input[type=checkbox]:checked + .lever {
  background-color: #FFA339;
}
.switch.warning-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #F80;
}
.switch.danger-switch label input[type=checkbox]:checked + .lever {
  background-color: #FF606F;
}
.switch.danger-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ff3547;
}
.switch.teal-switch label input[type=checkbox]:checked + .lever {
  background-color: #b2dfdb;
}
.switch.teal-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #80cbc4;
}
.switch.pink-switch label input[type=checkbox]:checked + .lever {
  background-color: #f8bbd0;
}
.switch.pink-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #f48fb1;
}
.switch.blue-switch label input[type=checkbox]:checked + .lever {
  background-color: #b3e5fc;
}
.switch.blue-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #81d4fa;
}
.switch.amber-switch label input[type=checkbox]:checked + .lever {
  background-color: #ffe082;
}
.switch.amber-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ffd54f;
}
.switch.mdb-color-switch label input[type=checkbox]:checked + .lever {
  background-color: #618FB5;
}
.switch.mdb-color-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #3F729B;
}
.switch.indigo-switch label input[type=checkbox]:checked + .lever {
  background-color: #9fa8da;
}
.switch.indigo-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #7986cb;
}
.switch.blue-white-switch label input[type=checkbox]:checked + .lever {
  background-color: #2196f3;
}
.switch.blue-white-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #fff;
}
.switch.blue-white-switch label .lever  {
  background-color: #ccc;
}
.switch.blue-white-switch label .lever:after {
  background-color: #fff;
}

.switch.round label .lever {
  width: 54px;
  height: 34px;
  border-radius: 10em;
}
.switch.round label .lever:after {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}
.switch.square label .lever {
  width: 54px;
  height: 34px;
  border-radius: 0px;
}
.switch.square label .lever:after {
  width: 26px;
  height: 26px;
  border-radius: 0px;
  left: 4px;
  top: 4px;
}

/********** MEDIA STYLES *********/

media {
  width: 360px;
  padding-top: 0;
  padding-bottom: 0
}

.dropdown-menu-media > li {
  padding: 0;
  margin: 0
}

.dropdown-menu-media .dropdown-menu-header {
  position: relative;
  padding: 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #e4eaec
}

.dropdown-menu-media .dropdown-menu-header > h3, .dropdown-menu-media .dropdown-menu-header > h4, .dropdown-menu-media .dropdown-menu-header > h5 {
  margin: 0
}

.dropdown-menu-media .dropdown-menu-header .badge, .dropdown-menu-media .dropdown-menu-header .label {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%)
}

.dropdown-menu-media .list-group {
  max-height: 270px;
  margin: 0;
  font-size: 12px;
  border-radius: 0
}

.dropdown-menu-media .list-group-item {
  padding: 0 20px;
  border: none;
  border-radius: 0 !important
}

.dropdown-menu-media .list-group-item .media {
  padding: 15px 0;
  border-top: 1px solid #e4eaec
}

.dropdown-menu-media .list-group-item:first-child .media {
  border-top: none
}

.dropdown-menu-media > .dropdown-menu-footer {
  background-color: #f3f7f9;
  border-top: 1px solid #e4eaec
}

.dropdown-menu-media > .dropdown-menu-footer > a {
  padding: 15px 20px !important;
  color: #a3afb7 !important
}

.dropdown-menu-media > .dropdown-menu-footer > a:hover {
  color: #89bceb !important;
  background-color: transparent !important
}

.dropdown-menu-media > .dropdown-menu-footer > .dropdown-menu-footer-btn {
  position: absolute;
  right: 0
}

.dropdown-menu-media > .dropdown-menu-footer > .dropdown-menu-footer-btn:hover {
  color: #89bceb !important;
  background-color: transparent !important
}


.media-object {
  width: 120px
}

.media-left, .media > .pull-left {
  padding-right: 20px
}

.media-right, .media > .pull-right {
  padding-left: 20px
}

.media-body {
  overflow: auto
}

.media .media {
  padding-bottom: 0;
  border-bottom: none
}

.media-meta {
  margin-bottom: 3px;
  font-size: 12px;
  color: #526069
}

.media-lg .media-object {
  width: 160px
}

.media-lg .media {
  margin-left: -110px
}

.media-sm .media-object {
  width: 80px
}

.media-sm .media {
  margin-left: -70px
}

.media-xs .media-object {
  width: 60px
}

.media-xs .media {
  margin-left: -60px
}

@media screen and (min-width: 768px) {
  .media-body {
    overflow: hidden
  }
  .media .media {
    margin-left: 0
  }
}

.list-group .media {
  padding: 2px 0;
  border-bottom: 0
}

.list-group .media .media-left, .list-group .media .pull-left {
  padding-right: 20px
}

.list-group .media .media-right, .list-group .media .pull-right {
  padding-left: 20px
}

.list-group .media .pull-right .status {
  margin-top: 15px;
  margin-right: 5px
}

.list-group .media .media-heading {
  font-size: 14px
}

.media-section .modal-footer {
  margin-top: 0px;
}

.media-section .modal .modal-header .close {
  padding-bottom: 2px;
}

.media-section .modal-content {
  border: 0px;
}

.media-section .modal-header {
  background: #21A9E1;
}

.media-section #confirm_delete_modal .modal-header {
  background: #E14421;
}

.media-section #move_file_modal .modal-header {
  background: #FC9A24;
}

.media-section .modal-header h4 {
  color: #fff;
}

.confirm_delete_name {
  color: #4DA7E8;
}

#move_btn {
  background: #FABE28;
  border: 1px solid #FABE28;
}


/********** MEDIA CSS **********/

.media-section .modal-footer {
  margin-top: 0px;
}

.media-section .modal .modal-header .close {
  padding-bottom: 2px;
}

.media-section .modal-content {
  border: 0px;
}

.media-section .modal-header {
  background: #21A9E1;
}

.media-section #confirm_delete_modal .modal-header {
  background: #E14421;
}

.media-section #move_file_modal .modal-header {
  background: #FC9A24;
}

.media-section .modal-header h4 {
  color: #fff;
}

.confirm_delete_name {
  color: #4DA7E8;
}

#move_btn {
  background: #FABE28;
  border: 1px solid #FABE28;
}


/**************************************************/
/***        TOOLBAR CSS         ***/
/**************************************************/

#toolbar {
  background: #E0E0E0;
  padding: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#toolbar .btn {
  padding: 8px 13px;
  font-size: 13px;
  border-radius: 2px;
}

#toolbar .btn-group .btn {
  border-radius: 0px;
}

#toolbar .btn-group .btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#toolbar .btn-group .btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#toolbar .btn-group .btn.btn-default:nth-child(2), #toolbar .btn-group .btn.btn-default:last-child {
  border-left: 1px solid #CBCBCD;
}

#toolbar .btn-group .btn.btn-default:nth-child(2), #toolbar .btn-group .btn.btn-default:nth-child(1) {
  margin-right: 1px;
}

#toolbar .btn.btn-default:focus {
  background: #F0F0F1;
  border-color: #F0F0F1;
}

#toolbar .btn.btn-primary {
  background: #4DA7E8;
  border: 1px solid #4DA7E8;
}

#toolbar .btn.btn-primary:hover {
  background: #2995E3;
}

#toolbar #refresh.btn {
  margin: 0px 10px;
}

#toolbar i {
  position: relative;
  top: 2px;
}


/**************************************************/
/***        BREADCRUMB CSS        ***/
/**************************************************/

.breadcrumb-container {
  position: relative;
}

.breadcrumb.filemanager {
  top: 0px;
  background: #f0f0f0;
  border: 1px solid #E0E0E0;
  border-bottom: 0px;
  border-radius: 0px;
  padding-left: 20px;
  width: 100%;
  margin-top: 0;
  left: 0;
}

.breadcrumb.filemanager li {
  cursor: pointer;
  transition: color 0.1s linear;
  position: relative;
}

.breadcrumb.filemanager li:hover {
  color: #555;
}

.breadcrumb li .arrow {
  display: none;
  position: absolute;
  bottom: -14px;
  width: 12px;
  height: 12px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #f0f0f0;
  left: 50%;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.breadcrumb li:last-child .arrow {
  display: block;
}

.breadcrumb li:first-child .arrow {
  margin-left: -5px;
}

.breadcrumb li {
  color: #4DA7E8;
  cursor: pointer;
  font-weight: bold;
}

.breadcrumb li:last-child {
  color: #58595f;
  cursor: pointer;
  font-weight: 400;
}

.breadcrumb-container .toggle {
  float: right;
  position: absolute;
  top: 11px;
  cursor: pointer;
  right: 5px;
  color: #bbb;
  transition: color 0.1s linear;
  overflow: visible;
}

.breadcrumb-container .toggle:hover {
  color: #aaa;
}

.breadcrumb-container .toggle span {

  font-size: 9px;
  text-transform: uppercase;
  float: left;
  top: 2px;
  position: relative;
  font-weight: bold;
  right: 10px;
}

.breadcrumb-container .toggle i {
  font-size: 18px;
  float: right;
  margin-right: 5px;
  position: relative;
  top: -4px;
}

.nothingfound {
  display: none;
}

#filemanager {
  position: relative;
  min-height: 200px;
}

#filemanager .loader {
  margin-top: 25px;
}

#filemanager #content {
  display: block;
  background: #fff;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #E0E0E0;
  border-top: 0px;
}

.flex #left {
  flex: 4;
  position: relative;
  min-height: 230px;
}

.flex #left #no_files {
  display: none;
}

.flex #left #no_files h3 {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 75px;
  color: #949494;
}

.flex #right {
  flex: 1;
  border-left: 1px solid #f1f1f1;
}

#right .right_details {
  display: block;
}

#right .right_none_selected {
  display: none;
  text-align: center;
}

#right .right_none_selected i {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-left: 0;
  padding: 50px;
  display: block;
  background: #f9f9f9;
}

#right .right_none_selected p {
  text-align: center;
  color: #bbb;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

#files {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#files li {
  flex: 1;
  width: 100%;
  min-width: 200px;
  max-width: 250px;
}

#files li .file_link {
  background: #eee;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ecf0f1;
  overflow: hidden;
  background: #f6f8f9;
  display: flex;
}

#files li .file_link .details {
  flex: 2;
  overflow: hidden;
  width: 100%;
}

#files li .file_link .details small {
  font-size: 11px;
  position: relative;
  top: -3px;
}

#files li .file_link .link_icon {
  flex: 1;
}

#files li .file_link img, #files li .file_link .img_icon {
  display: none;
}

#files li .file_link.image img, #files li .file_link.image .img_icon {
  display: block;
}

#files li .file_link.image img {
  height: 50px;
}

#files li .file_link.image .img_icon {
  width: 50px;
  height: 50px;
  display: block;
}

#files li .file_link.selected, #files li .file_link:hover {
  background: #4da7e8 !important;
  border-color: #2581b8;
  color: #fff;
}

#files li .file_link.selected h4, #files li .file_link:hover h4 {
  color: #fff;
}

#files li .details h4 {
  margin-bottom: 2px;
  margin-top: 10px;
  max-height: 17px;
  height: 17px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

#files li .details .folder h4 {
  margin-top: 16px;
}

.file_link.folder i.icon {
  float: left;
  margin-left: 10px;
}

.file_link.folder .num_items {
  display: block;
}

.file_link .link_icon {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  margin-right: 5px;
}

.file_link .link_icon i {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  top: 5px;
}

.file_link i.icon:before {
  font-size: 40px;
}

.detail_img {
  border-bottom: 1px solid #f1f1f1;
  background: #eee;
}

.detail_img img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.detail_img i {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 70px;
  margin-left: 0;
  padding: 30px;
  background: #f9f9f9;
}

.detail_img .folder i.fa-folder {
  display: block;
}

.detail_img .file i.fa-file {
  display: block;
}

.detail_img .image img {
  display: block;
}

.detail_info {
  padding: 10px;
}

.detail_info .selected_file_count, .detail_info.folder .selected_file_size {
  display: none;
}

.detail_info .folder .selected_file_count {
  display: block;
}

.detail_info span {
  display: block;
  clear: both;
}

.detail_info a {
  color: #4DA7E8;
}

.detail_info .selected_file_count, .detail_info .selected_file_size {
  padding-top: 0;
}

.detail_info h4 {
  float: left;
  color: #bbb;
  margin: 0;
  font-size: 12px;
  margin-top: 3px;
  margin-right: 8px;
  padding-bottom: 2px;
  font-weight: 400;
}

.detail_info p {
  float: left;
  color: #444;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 400;
}

/********** file upload progress **********/

#filemanager .progress {
  border-radius: 0;
  margin-bottom: 0;
}

#uploadProgress {
  display: none;
  background: #eee;
}

/********** end file upload progress **********/

#file_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9;
  text-align: center;
}

#file_loader #file_loader_inner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;

}

#file_loader img {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  opacity: 0.5;
  -webkit-animation: spin 1.2s ease-in-out infinite;
  -moz-animation: spin 1.2s ease-in-out infinite;
  animation: spin 1.2s ease-in-out infinite;

}

#file_loader p {
  margin-top: 40px;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  font-weight: 400;
  font-size: 12px;
}



/**************************************************/
/***        TOOLBAR CSS         ***/
/**************************************************/

#toolbar {
  background: #E0E0E0;
  padding: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#toolbar .btn {
  padding: 8px 13px;
  font-size: 13px;
  border-radius: 2px;
}

#toolbar .btn-group .btn {
  border-radius: 0px;
}

#toolbar .btn-group .btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#toolbar .btn-group .btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#toolbar .btn-group .btn.btn-default:nth-child(2), #toolbar .btn-group .btn.btn-default:last-child {
  border-left: 1px solid #CBCBCD;
}

#toolbar .btn-group .btn.btn-default:nth-child(2), #toolbar .btn-group .btn.btn-default:nth-child(1) {
  margin-right: 1px;
}

#toolbar .btn.btn-default:focus {
  background: #F0F0F1;
  border-color: #F0F0F1;
}

#toolbar .btn.btn-primary {
  background: #4DA7E8;
  border: 1px solid #4DA7E8;
}

#toolbar .btn.btn-primary:hover {
  background: #2995E3;
}

#toolbar #refresh.btn {
  margin: 0px 10px;
}

#toolbar i {
  position: relative;
  top: 2px;
}


/********** NESTABLE CSS **********/

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  height: 50px;
  margin: 5px 0;
  padding: 14px 25px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 40px;
  height: 37px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
  linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

#nestable-menu {
  padding: 0;
  margin: 20px 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(to bottom, #bbb 0%, #999 100%);
  background: -moz-linear-gradient(to bottom, #bbb 0%, #999 100%);
  background: linear-gradient(to bottom, #bbb 0%, #999 100%);
}

.menus .table > tbody > tr > td {
  line-height: 44px;
}

#nestable2 .dd-handle:hover {
  background: #bbb;
}

#nestable2 .dd-item > button:before {
  color: #fff;
}

@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 100%;
  }
  .dd + .dd {
    margin-left: 2%;
  }
}

.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(to bottom, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(to bottom, #fafafa 0%, #eee 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 30px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  background: -moz-linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  background: linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #ddd;
}


.select2-container--open {
  z-index: 999999;
}

.select2-container--default .select2-selection--single {
  border: 0px;
  border-right: 1px solid #f1f1f1;
  border-radius: 0px;
  height: 34px;
  padding: 3px;
}

.card-body .select2-selection {
  border: 1px solid #f1f1f1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px;
}

.select2-dropdown {
  z-index: 9;
}


/* Row Sortable (Drag and Drop), used in BREAD edit
-------------------------------------------------- */
.row-dd {
  border-bottom: 1px solid #eee;
  margin: 0 -7px;
  padding-top: 20px;
  padding-bottom: 0px;
  &:last-child {
    border-bottom: 0px;
  }
}

.row-dd-relationship {
  border-left: 3px solid #F7325B;
  i.voyager-heart {
    font-size: 16px;
    position: relative;
    padding: 5px;
    background: #fff;
    border-radius: 50px;
    color: #F7325B;
    border: 2px solid #F2435C;
    width: 28px;
    height: 28px;
    padding-top: 4px;
    padding-left: 4px;
    text-align: center;
    display: block;
    float: left;
    top: -4px;
    left: -4px;
  }
  .delete_relationship {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 6px 28px 6px 10px;
    background: red;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 0px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: opacity .1s linear;
    opacity: .7;
    z-index: 2;
    i {
      position: absolute;
      right: 4px;
      font-size: 16px;
      top: 4px;
      height: 21px;
      width: 21px;
      color: #ffffff;
      line-height: 22px;
      text-align: center;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .voyager-relationship-details-btn {
    color: #F7325B;
    border: 1px solid #ffffff;
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 12px;
    float: right;
    position: relative;
    padding-left: 30px;
    background: #f9f9fb;
    transition: all 0.2s ease;
    cursor: pointer;
    i {
      top: 8px;
      font-size: 16px;
      position: absolute;
      left: 10px;
      &.voyager-angle-up {
        display: none;
      }
    }
    span.open_text {
      display: inline;
    }
    span.close_text {
      display: none;
    }
    &.open {
      i {
        &.voyager-angle-down {
          display: none;
        }
        &.voyager-angle-up {
          display: block;
        }
      }
      span.open_text {
        display: none;
      }
      span.close_text {
        display: inline;
      }
    }
    &:hover {
      background: #fcfcff;
    }
  }
  .voyager-relationship-details {
    display: none;
    background: #f5f5f7;
    margin-bottom: 0px;
    height: auto;
    padding: 15px;
    padding-bottom: 45px;
    border-top: 1px solid #efeff2;
  }
  .relationship_details_content {
    &.margin_top {
      margin-top: 20px;
    }
    display: flex;
    &.hasOneMany.flexed, &.belongsTo.flexed {
      display: flex;
    }
    &.hasOneMany, &.belongsTo {
      width: 100%;
      display: none;
      label {
        span {
          color: #444;
        }
      }
    }
    &.relationshipPivot {
      display: none;
      &.visible {
        display: flex;
      }
    }
    & > label {
      height: 38px;
      background: #f1f1f1;
      padding: 7px 12px;
      font-size: 11px;
      line-height: 23px;
      font-weight: 700;
      margin-bottom: 0;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      &:first-child {
        border-left: 1px solid #eaeaea;
      }
    }
    p {
      float: left;
      padding: 6px 20px;
      background: #fff;
      line-height: 22px;
      margin-right: 0;
      border: 1px solid #eaeaea;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #333;
      margin-bottom: 0;
      border-right: 0px;
      &.flex {
        display: flex;
        border-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #eaeaea;
        padding-right: 10px;
        span {
          margin-left: 4px;
          margin-right: 5px;
          line-height: 24px;
        }
        input {
          position: relative;
          top: 3px;
        }
      }
      &.relationship_table_select {
        background: #EFEFEF;
        color: #76838f;
        font-weight: bold;
        font-size: 12px;
        padding-top: 8px;
      }
    }
    span {
      flex: 1;
      display: inline-block;
    }
    span.select2 {
      display: block;
      z-index: 1 !important;
      span {
        display: block;
      }
    }
    .relationship_type + span {
      font-weight: bold;
    }
    select {
      border: 1px solid #f1f1f1;
      margin-left: 10px;
    }
    .relationship_key, .relationship_taggable {
      display: none;
    }
    .select2 {
      flex: 1;
      border: 1px solid #eaeaea;
      border-right: 0px;
      margin-right: 0px;
      height: 38px;
      .select2-selection {
        border-radius: 0px;
        border: 0px;
        height: 36px;
      }
    }
    .select2:last-child {
      border-right: 1px solid #eaeaea;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 4px;
    }
    .form-control {
      border-radius: 0px;
      height: 38px;
      flex: 1;
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

.row-dd:hover {
  background-color: #F6F8FA;
}

.row-dd > div:first-child {
  padding-left: 37px;
}

.row-dd > div:first-child .handler {
  position: absolute;
  top: 0px;
  left: 14px;
  cursor: move;
}

.fake-table-hd {
  padding: 0 8px;
}

.fake-table-hd > div:first-child {
  padding-left: 29px;
}

.fake-table-hd > div {
  font-weight: 500;
  padding: 8px;
  margin-bottom: 0 !important;
  background-color: #F6F8FA;
  border-bottom: 1px solid #EAEAEA;
}

.modal.modal-relationships {
  border: 0px;
  h5 {
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  h4 {
    i {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }
  :not(.toggle-group) > label {
    height: 38px;
    background: #f1f1f1;
    padding: 7px 12px;
    font-size: 11px;
    line-height: 23px;
    font-weight: bold;
    margin-bottom: 0px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    &:first-child {
      border-left: 1px solid #eaeaea;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  .panel-body {
    padding-top: 25px;
  }
  &.modal-danger .modal-header, .btn-relationship {
    background: #F2435C;
    color: #fff;
  }
  .modal-body {
    background: #ffffff;
    .col-md-12 {
      margin-bottom: 0px;
    }
  }
  .modal-footer {
    background: #f7f7f9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .well {
    background-color: #f9f9fc;
    border: 1px solid #eaeaea;
  }
  p.relationship-warn {
    text-align: center;
  }

  .relationship_details {
    display: flex;
    &.relationshipPivot {
      display: none;
    }
    .hasOneMany.flexed, .belongsTo.flexed {
      display: flex;
    }
    .hasOneMany, .belongsTo {
      width: 100%;
      display: none;
      label {
        span {
          color: #444;
        }
      }
    }
    &.col-md-12 {
      margin-bottom: 20px;
    }
    p {
      float: left;
      padding: 6px 10px;
      background: #fff;
      line-height: 22px;
      margin-right: 0;
      border: 1px solid #eaeaea;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: #333;
      margin-bottom: 0;
      border-right: 0px;
      &.flex {
        display: flex;
        border-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #eaeaea;
        padding-right: 10px;
        span {
          margin-left: 4px;
          margin-right: 5px;
          line-height: 24px;
        }
        input {
          position: relative;
          top: 3px;
        }
      }
      &.relationship_table_select {
        background: #EFEFEF;
        color: #76838f;
        font-weight: bold;
        font-size: 12px;
        padding-top: 8px;
        select {
          margin-left: 5px;
        }
      }
    }
    span.label_table_name {
      display: inline-block;
    }
    .relationship_type + span {
      font-weight: bold;
    }
    select {
      border: 1px solid #f1f1f1;
      margin-left: 10px;
    }
    .select2 {
      flex: 1;
      border: 1px solid #eaeaea;
      border-right: 0px;
      margin-right: 0px;
      height: 38px;
      .select2-selection {
        border-radius: 5px;
        border: 0px;
      }
    }
    .select2:last-child {
      border-right: 1px solid #eaeaea;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 4px;
    }
    .form-control {
      border-radius: 0px;
      height: 38px;
      flex: 1;
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
  .relationship_details_more {
    position: relative;
    margin-bottom: 0px;

    :not(.toggle-group) > label {
      height: 38px;
      background: #f1f1f1;
      padding: 7px 12px;
      font-size: 11px;
      line-height: 23px;
      font-weight: 700;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      border: 0px;
    }
    .select2-container--default .select2-selection--single {
      border: 1px solid #f1f1f1;
    }
    .relationship_key, .relationship_taggable {
      display: none;
    }
    .well {
      position: relative;
      padding-top: 55px;
      margin-bottom: 5px;
      background: none;
      border: 1px solid #f1f1f1;
    }
  }

}

.btn-new-relationship {
  background: #F2435C;
  border: 1px solid #F2435C;
  color: #fff;
  &:hover {
    color: #fff;
  }
  i {
    position: relative;
    top: 2px;
  }
}

.relationship-btn-container {
  .btn {
    i {
      position: relative;
      top: 2px;
    }
  }
}

.select2-selection {
  padding-top : 8px !important;
}

.pagination .page-item .page-link:focus {
  background-color: #4285f4;
  color : white;
}

#editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;

  textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
  }

  textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
  }

  code {
    color: #f66;
  }
}


/********** END NESTABLE CSS **********/


/**/
