

label {
  font-weight: bold !important;
}
.toggle-on, .toggle-off {
  font-size: 11px !important;
}


.voyager .navbar .navbar-nav .dropdown-menu, .voyager .navbar.navbar-default .navbar-nav .dropdown-menu {
  top : 65.6px !important;
}

.container-fluid {
  border-bottom-width : 0 !important;
}

.hamburger {
  padding-top : 10px !important;
}

.breadcrumb li:last-child {
  padding-right : 14px !important;
}

.navbar .breadcrumb .breadcrumb-item,.navbar .breadcrumb .breadcrumb-item.active, .navbar .breadcrumb .breadcrumb-item:before {
  color: #969393 !important;
}

.navbar {
  padding : 0 ;
  padding-left: 60px;
  padding-right:0 !important;
}

.side-menu-container {
  width : 100%;
}

.dataTables_wrapper > .row {
  width : 100% !important;
}

/**/